
.gallery{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 12px 12px;
    margin-top: 50px;

}

.imgs{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.img{
    cursor: pointer;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    margin: 7px 0;
}

.img:hover {
    transform: scale(1.05);
  } 



  @media (min-width: 768px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .imgs {
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
}

@media (min-width: 1024px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .imgs {
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }
}